/* Establishing the link properties */
a {
  font-family: fantasy, sans-serif;
  font-size: 20px;
  text-align: left;
  letter-spacing: 2px;
}
/* Revision, altered some link colors to contrast better */
a:link { color: yellow; }
a:visited { color: hotpink; }/* Pink doesn't get enough love, so I made visited links pink */
a:hover { color: red; }
a:active { color: blue; }

/* Defining aspects of the header, could have done better, feeling crunched for time */
header {
  background-color: black;
  padding: 40px;
  border: 5px inset;
}

/* Defining my header's properties */
h1 {
  font-family: Fantasy, sans-serif;
  font-size: 50px;
  letter-spacing: 2px;
  color: blue;
  text-align: center;
  text-transform: uppercase;
}

/* Spent more time than I should have trying to get something decent for the body background, settled on green */
/* Revision, added border to main body as well as articles, trying to break up the monotonous background of the page */
body {
  background-color: teal;
  margin: 10px;
  border 5px inset;
}

/* Keeping the font and color for sub-headers the same as initial header */
/* Revision, altered color of text to contrast with new teal background better. Also altered font size slightly. Same for h3 */
h2 {
  font-family: fantasy, sans-serif;
  font-size: 40px;
  color: hotpink;
  text-align: center;
  letter-spacing: 3px;
}

h3 {
  font-family: fantasy, sans-serif;
  font-size: 30px;
  color: hotpink;
  text-align: center;
  letter-spacing: 3px;
}

/* Initial uploads of the website were being picky, wasn't sure if the color issue was body or article, went with same for both. Might be why it looks so early 90's */
article {
  margin: 10px;
  padding: 160px;
  background-color: teal;
  border: 5px inset;
}

/* White seemed like a good color choice for a green background(Revision note; altered background to teal, not green. White lettering still seemed appropriate, though), noticed the letters initially were too close though, so gave it spacing */
main p {
  font-family: fantasy, sans-serif;
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
}

/* Wanted to make a colored line for a line-break, inadvertently increasing the levels of early 90's vibes to the site */
hr {
  height: 5px;
  background-color: blue;
}

/* Seemed best to keep the lists in a similar visual style to regular paragraphs, hence similar font, size, and color */
ul {
  font-family: fantasy, sans-serif;
  font-size: 20px;
  text-align: left;/* Possibly redundant considering I already defined this in the links properties, but I wanted to be sure it worked. I understand if this is expected to change in a revision */
  color: white;
  letter-spacing: 2px;
}

ol {
  font-family: fantasy, sans-serif;
  font-size: 20px;
  color: white;
  text-align: left;
  letter-spacing: 2px;
}

/* Wasn't sure just how big to make my face, first attempt seemed outrageously large. This felt reasonable */
img {
  width: 200px;
}

/* Found a fairly decent circle at this radius %, kept it */
.image-round {
  border-radius: 60%;
}

/* To center my picture */
div {
  padding: 40px;/*Revision, added some padding to the div containing my picture, picture seemed a tad squished to the header, wanted to give extra space between them */
  margin: auto;
  text-align: center;
}

/* The pure black background seemed chunky, decided to add white and padding. Still chunky, but... meh? */
.header-background {
  background-color: white;
  padding: 40px;
}

footer {
  text-align: center;
  color: yellow;
  border: 5px inset;
}

.footer-background {
  background-color: grey;
  padding: 40px;
}


